/*
  Golden Section Modular Scale:
  https://www.modularscale.com/?22&px&1.618
*/

body {
  background-color: #00BFFF;
}

#header {
  background-color: white;
  height: 15em; /* 250 px */
}

#h1 {
  color: #00BFFF;
  text-align: center;
  font-size: 5em; /* 120 px*/
  padding: 1em; /* 22px */
}
