body{
    background-color: #00BFFF;
    margin: 0;
}

.button1 {
    background-color: #173753; /* Green */
    border: none;
    color: white;
    padding: 30px 50px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    position:fixed;
    bottom:0;
    width: 40%;
    margin-left: 30%;
    margin-bottom: 20px;
    margin-right: 30%
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


#featured{
    margin: auto;
    padding-top: 100px;
    text-align: center;
    padding-bottom: 50px;
    font-size: 50px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

